<%- include('partials/header') %>

    <h1>THIS IS ALEX'S FIRST WEBSITE!</h1>
    <h3>SITE UNDER CONSTRUCTION</h3>
    <p>This is a test page to ensure the site is accessible.</p>

<%- include('partials/footer') %>